@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Archivo, system-ui, sans-serif;
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 1s ease;
}
